<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP-UPVOTE</title>
    <style>
        body {
            font-family: monospace;
            font-size: 1.2em;
            margin: 3%;
        }
    </style>
</head>
<body>
    <h1>
        IP-UPVOTE
    </h1>
    <br>
    <div>
        {{ range .items }}
        <h1>{{ .Name }}</h1>
        <h3> {{ .Description }} </h3>
        <h3> {{ .Description }} </h3>
        <h4 id = "{{ .ID }}"> Upvotes: {{ .Upvotes }} </h4>
        <form action="/upvote/{{ .ID }}">
            <button>Upvote</button>
        </form>
        {{ end }}
    </div>

    <br>

    <h2>No Items to Upvote? Put items manually</h2>

    <form action="/" method="POST">
        <input type="text" name="Name" placeholder="Name">
        <input type="text" name="Description" placeholder="Description">
        <button>Post</button>
    </form>
    <br>
</body>
</html>