<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP-UPVOTE</title>
    <style>
        body {
            font-family: monospace;
            font-size: 1.2em;
            margin: 3%;
        }
    </style>
</head>
<body>
    <h1>
        IP-UPVOTE
    </h1>
    <br>
    <div>
        {{ range .items }}
        <h1>{{ .Name }}</h1>
        <h3> {{ .Description }} </h3>
        <h4 id = {{ .ID }}> Upvotes: {{ .Upvotes }} </h4>
        <form action="/upvote/{{ .ID }}">
            <button>Upvote</button>
        </form>
        {{ end }}
    </div>
    <br>
</body>
</html>